:root {
  --primary-color: #ffffff;
  --secondary-color: #75C1FB;
  --black-color:  #333333;
  --dark-color:  #333333;
  --fs-sm: 1.2rem;
  --fs-md: 2rem;
  --fs-lg: 2.5rem;
  --fs-xl: 3rem;
}

@media (min-width: 800px) {
  :root {
    --fs-sm: 1.8rem;
    --fs-md: 2.5rem;
    --fs-lg: 3rem;
    --fs-xl: 4rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--primary-color);
  /* background: linear-gradient(180deg, #ffffff 26.04%, #f6fbff 100%); */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.navbar-img {
  object-fit: contain;
}
