:root {
  --primary-color: #ffffff;
  --secondary-color: #75C1FB;
  --black-color:  #333333;
  --dark-color:  #333333;
  --fs-sm: 1.2rem;
  --fs-md: 2rem;
  --fs-lg: 2.5rem;
  --fs-xl: 3rem;
}

@media (min-width: 800px) {
  :root {
    --fs-sm: 1.8rem;
    --fs-md: 2.5rem;
    --fs-lg: 3rem;
    --fs-xl: 4rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--primary-color);
}

html {
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
  overflow-y: auto;
  direction: ltr;
}
html::-webkit-scrollbar {
  width: 15px;
}

html::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: var(--secondary-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.navbar-img {
  object-fit: contain;
}
